node_modules
dist
.next
.turbo
.env
.env.local
.env.*.local
.env.vercel
*.log
.DS_Store
coverage
*.tsbuildinfo
.pnpm-store
.vercel
.vitest
.idea
.vscode
apps/web/out
apps/api/data
logs/*.pid
infra/inhabitants/credentials.json
.env.vercel
